[2015-09-16 19:41] apaganobeleno opened #3 "Routes into Routes file"
@gernest First of all thanks for such a great tool, **utron** looks very nice, i really appreciate finding this kind of tool that makes things easier.

I've been talking with one of my teammates about the routes inside utron and wanted to know if it sounds reasonable for you to move the routes to a separate file and apply the routes by reading a routes configuration file.

One of the good thing is

[2015-09-16 22:44] gernest commented on #3
@apaganobeleno tThanks for the positive feedback, and for taking your time to discuess `utron`. I did have thought on this, that is why you I used a `[]string` as you have noticed. But I ditched the idea due to the following issues

### naming ?
There will be a need to explicity add the Controller's name  in the `routes` file  and I couldn't fthink of a better way to do that.

What I mean  is with

[2015-09-16 23:43] arschles opened #4 "Layouts or blocks in the views"
It would be nice to be able to specify a reusable layout or reusable blocks in the views. As an example, [the Render library](https://github.com/unrolled/render#layouts) does this fairly well. These features would make it easier to build larger sites.

[2015-09-17 00:29] gernest commented on #4
That is a good feature, you can pull it yourself easily and use it with `utron`. the view in utron is an interface with the following signature.

[code]
I think `SimpleView` whish is shipped with `utron` should remain simple. And maybe add a section in the README for different `View` implementation that `utron` users can choose from.

[2015-09-17 13:30] apaganobeleno commented on #3
@gernest regarding the naming i agree with you that this will be a downside, we will need to explicitly add the controller name thats kind of the trade-of we would made, i was thinking that we could have one routes.{json|yaml|toml} inside the config folder, that eliminates the need of another folder.

I hope i can contribute to this feature and other views if needed, if you want and after your app

[2015-09-17 13:41] apaganobeleno opened #5 "Environment configuration"
@gernest What do you think about reading some config values from the ENV before reading from the config.{ json | yaml | toml } file?

I'm thinking that in some cases **utron** will need different values for the database connection and other configuration elements like the port depending on the environment we're running the app, for example our Production database url will be different than our dev

[2015-09-18 05:02] gernest commented on #3
@apaganobeleno You are right( about making hard calls) , since we havent released yet it wont be too bad to change the API.

Wish there were some other people to say what they think about this.

Regarding putting routes in `config` folder doesn't that sound confusing for you. I amean is routes.json a configuration file or?

You got me thnking, maybe it makes sense routes file to be there since we

[2015-09-18 05:09] gernest commented on #5
@apaganobeleno  I'm not so sure about this. I mean the second premise of `relevance` is about relevance. And you are right in some aspect.

Would you please implement it and submit a pull request, so I can see your approach and maybe we can improve and comeup with something that wont hurt `utron` ?

[2015-09-19 09:05] Gurpartap commented on #5
@gernest I think the proposal here is that we need something like this:

[code]

[2015-09-19 14:36] apaganobeleno commented on #5
@gernest @Gurpartap actually i'm thinking we should build the **environment variable override** version because its quite bit simple, and reduces the number of files/parts moving.

Basically we would have the same number of files (p.e. a single app.json) and simply override with ENV based on the environment we are running the app.

thoughts ?

[2015-09-19 14:54] apaganobeleno commented on #5
@gernest @Gurpartap in terms of the proposal, i'm thinking we should read the following ENV variables:

- PORT
- DATABASE
- DATABASE_CONN

And in case they are set we will override the values that have been set on the *config/app.json* file.

[2015-09-19 14:59] Gurpartap commented on #5
Yes, it's a good idea to allow overriding with environment variables. And since people do not prefer to commit production database url and credentials in their version control repos, it would be easier to pass env vars than to create a file with vars during deployments.

[2015-09-19 16:08] gernest commented on #5
@apaganobeleno @Gurpartap  hey, ithink you are right. And infact we can parse dynamically all the fields of the config file from ENV

I mean for this stuct
[code]

We can Parse ENV to march the field as

ENV|Field
------|--------
APP_NAME| AppName
BASE_URL|BaseURL
PORT|Port
VERBOSE|Verbose
STATIC_DIR|StaticDir
VIEW_DIR|ViewsDir
DATABASE|Database
DATABASE_CONN|DatabaseConn

This way, we wont need t

[2015-09-19 16:17] gernest commented on #5
@apaganobeleno we will need a wiki I suppose. To start writing more details, like when we ship this feature.

I am going to work on the code tomorrow if @apaganobeleno and @Gurpartap have no objection. I am waiting for your feedback.

[2015-09-19 16:22] Gurpartap commented on #5
Perhaps you can use [vrischmann/envconfig](https://github.com/vrischmann/envconfig) ([example](https://godoc.org/github.com/vrischmann/envconfig#example-Init)).

[2015-09-19 16:36] gernest commented on #5
@Gurpartap I have already implemented this in the past, and if you are looking for a better example is https://github.com/koding/multiconfig

Or should we just use this library instead? It does what we are bout to do and does even better see [here](https://github.com/gernest/zedlist/blob/8e2316279017d0f36034b6a645066929431895b5/modules/settings/settings.go#L138) for my previous implementation on [

[2015-09-19 16:38] Gurpartap commented on #5
Steer it the way you want it to go.

[2015-09-19 16:48] gernest commented on #5
@Gurpartap you suggestion actually fits what we are looking for. I only followed the project like and not read the example.

It fits perfectly.

[2015-09-19 18:38] apaganobeleno commented on #5
@gernest i already have it implemented, should i send a PR ?

[2015-09-19 18:44] gernest commented on #5
sure @apaganobeleno

[2015-09-19 19:05] apaganobeleno commented on #5
@gernest i guest we need some documentation here, do you think is ok to add it into the README.md ? i'm thinking to add something below the configuration section.

[2015-09-19 19:16] gernest commented on #5
@apaganobeleno gimme a min so I can review the PR

[2015-09-19 19:24] gernest commented on #5
@apaganobeleno can you email me? I want to say something that is a bit private if you don;t mind( It is abiut the PR)

[2015-09-19 19:27] apaganobeleno commented on #5
@gernest ok, cool, just emailed you :)

[2015-09-20 06:36] #5 closed

[2015-09-21 04:05] #3 closed

[2015-09-26 09:49] influx6 commented on #4
Nice work bro, keep it going

[2015-09-26 16:34] gernest commented on #4
Thanl you @influx6 and you are welcome to contribute.

[2015-09-27 00:41] klaemo opened #13 "You're awesome"
That's all!

I hope someone hires you and your friends!

[2015-09-27 03:13] gauravsaini commented on #13
:+1:

[2015-09-27 05:22] beej opened #14 "Typo in README"
s/postres/Postgres/g

[2015-09-27 09:33] gernest commented on #13
@klaemo @gauravsaini thanks

[2015-09-27 11:09] gernest commented on #14
@beej can you submit a pull request please!.

[2015-09-27 11:32] nyrf opened #17 "is there an example use router in json file"
https://github.com/gernest/utron#case-3-using-routes-file
I defined routers in json file, but it not work.

[2015-09-27 11:45] gernest commented on #17
@nyrf   yes, see "case 3: using routes file" in the README there is  link to the example file.

[2015-09-27 11:46] gernest commented on #17
@nyrf can you show me your code?

[2015-09-27 12:19] nyrf commented on #17
I only modified the todo example.

config/routes.json
[code]
controllers/todo.go

[code]

[2015-09-27 12:20] nyrf commented on #17
Still add this code in toto controller file? thanks.

[code]

[2015-09-27 12:36] gernest commented on #17
@nyrf can you be specific what do you mean  by `it doesn't work"? are you getting errors or? your routes file seems fine. And there is no need to add `Routes` field if you have routes file.

[2015-09-27 12:48] nyrf commented on #17
When i visit localhost:8090, got `404 page not found`

[2015-09-27 12:50] nyrf commented on #17
I only added `config/routes.json` and modified `controller/todo.go`, then run `go run main.go` and visit `http://localhost:8090`.

[2015-09-27 13:29] gernest commented on #17
@nyrf if you remove the routes file does it work?

[2015-09-27 14:33] nyrf commented on #17
If remove routes.json file and use

[code]
I works.

[2015-09-27 14:38] gernest commented on #17
@nyrf okay, I will check this later when I get time.

[2015-09-27 14:38] nyrf commented on #17
`https://github.com/nyrf/utron/tree/use-routes-file/fixtures/todo`, this is all my code.

[2015-09-27 14:39] nyrf commented on #17
@gernest Thanks for your work.

[2015-09-27 14:51] gernest commented on #17
@nyrf  you are welcome.

I just checked on your routes file
[code]

Do me a favor and omit registering the same method twice. Overriding support provided by utron is basic, there is a long way to make it stable.

Try changing your routes file to look like this below. Notice I omitted the `/home` route.

[code]

Hope it works, either way I will look into into this when I get time.

[2015-09-27 14:54] nyrf commented on #17
I deleted ` "get;/home;TODO.Home",` but it still not work.

[2015-09-27 15:06] lstrojny opened #19 "@gernest is still not hired"
This is a serious bug and must stay open until https://github.com/gernest/utron#are-you-hiring can be removed.

[2015-09-27 16:36] thinktainer commented on #19
+1

[2015-09-27 16:44] mauri commented on #19
+1

[2015-09-27 18:17] Grynn commented on #19
@gernest I am recruiting at Media.Net. I am in need too, in need of good devs. Please send me your skype username and/or phone number and a good time to chat.

vishal.d@media.net / vishal.doshi@gmail.com

[2015-09-28 08:20] Collizo4sky commented on #19
+1

[2015-09-28 11:07] mawuli commented on #19
+1 :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-09-28 16:10] Grynn commented on #19
So there's something not quite right. Media.net is one of the largest advertising tech cos in the world (https://www.quora.com/Which-company-should-I-join-Snapdeal-Directi-Practo-or-Quikr). I offered to interview @gernest sans CV but have not even heard from him. Just sayin.

[2015-09-29 01:02] gernest commented on #19
@Grynn I am sorry, I was offline, My skype ID is live:geofreyernest.

Would you please be positive in your comments. A lot of good  people are helping me getting a job by supporting me, so putting negative remarks is not very good.

[2015-09-29 02:23] betoharres opened #21 "Why not using RESTful urls?"
Would be the perfect if you implement that.

[2015-09-29 02:33] gernest commented on #21
@betoharres can elaborate with examples? RESTful urls is vague , and subjective.

[2015-09-29 12:46] Pym commented on #19
@Grynn yeah, something's not quite right: this kind of remarks. Just sayin.

[2015-09-29 13:09] pablocrivella commented on #19
+1

[2015-09-29 13:30] dvbeato commented on #19
+1

[2015-09-29 13:39] wagnerads commented on #19
+1

[2015-09-29 13:42] gabriellhrn commented on #19
+1

[2015-09-29 14:07] onlydole commented on #19
+1

[2015-09-29 16:42] marcosinger commented on #19
:heart_eyes_cat:

[2015-09-29 17:47] betoharres commented on #21
@gernest I meant something like this http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api
and others must-have best practices out of the box.
That's what advancing the technology is, right? Not reinventing the wheel :)

[2015-09-29 19:37] christianpv commented on #19
+1

[2015-09-29 22:20] bredikhin commented on #19
+1

[2015-10-01 05:40] ozkxr commented on #19
:star:

[2015-10-01 14:20] rabeesh commented on #19
+1

[2015-10-01 14:25] Peekmo commented on #19
:+1:

[2015-10-02 10:48] #14 closed

[2015-10-03 07:10] nyrf commented on #17
@gernest Any update?

[2015-10-03 09:37] martinpinto commented on #19
+1

[2015-10-04 11:50] gernest commented on #17
@nyrf I was checking this, you are right. The implementation is basic and incomplete. I advice you use the `Routes` field instead. I really don't have time to reimplement this, so you have to be patient untill when I get time, or until someone help this out.

So far the loading is good(of routes from the file), but I can't come into consesus on the registering of the loaded routes.

[2015-10-04 13:11] nyrf opened #24 "http: multiple response.WriteHeader calls"
Run `wrk -t12 -c900 -d10s http://localhost:3000`

Got errors `http: multiple response.WriteHeader calls`

[2015-10-04 17:02] gernest commented on #24
@nyrf  Please accompany your issues with enough information. What does that suppose to mean?
`http: multiple response.WriteHeader calls` is a result of writting to the response writter more than once.

It is not utron error, check if you are writing to the response more than once.

[2015-10-04 17:32] nyrf commented on #24
I have fixed it, thanks.

[2015-10-04 17:32] #24 closed

[2015-10-05 11:34] tomtom87 opened #25 "Default addr for network 'localhost' unknown"
Trying to connect to mysql with the following in app.json

[code]

Loggin into the mysql terminal from promp with the credentials is fine and working in PHP also. Any ideas?

[2015-10-05 11:35] tomtom87 commented on #25
I have tried with all variants I could think of (127.0.0.1, 0.0.0.0)

[2015-10-05 12:34] tomtom87 commented on #25
Incorrect format this wants DSN same as PEAR DB (http://pear.php.net/manual/en/package.database.db.intro-dsn.php)

So correct format is user:password@unix(/path/to/socket)/dbname
or user:password@tcp(localhost/mysql)/dbname

Currently working now

[2015-10-05 12:34] #25 closed

[2015-10-05 15:20] tylerdmace commented on #19
+1

[2015-10-11 17:40] #17 closed

[2015-10-13 09:46] Gurpartap commented on #19
:+1:

[2015-10-13 18:13] eolexe commented on #19
+1

[2015-10-14 05:00] heshed commented on #19
+1

[2015-10-16 17:40] surfeurX commented on #13
good luck :+1:

[2015-10-20 16:55] esantoro opened #29 "Simple project fails when no model is defined"
Hi!
Turns out that the presence of at least one model is mandatory.

I fund out that:

1. Running an application without model structs is fine
2. Running an application without a **valid** database connection url will result in a **null-pointer dereferentiation** and subsequent **crash**.

I think this should be avoided.

I think the `Run` function in `github.com/gernest/utron/utron.go` should che

[2015-10-23 13:39] OsvaldoTCF opened #30 "What is the best way we can create good restful apis with Utron ?"
This is a newbie question.

What is the best way we can create good restful apis with Utron ?

[2015-10-23 14:37] gernest commented on #30
It depends on what kind of API you want to implement. The base essence of RESTFUL API's is responding with json.

`utrom`  BaseController has a method `JSON` whuch helps you out by setting the header ad the status code for meaningful json response.

[2015-10-23 14:47] gernest commented on #30
@OsvaldoTCF you can follow the same MVC pattern and have a beautufl restful API. take the todo app as an exmple, and rethink if you were to communicate via JSON.

If I get time I will throw up a todo API example. But I'm very busy, you can start and I will help when you face any issue.

[2015-10-26 01:03] OsvaldoTCF commented on #30
Thanks

[2015-10-26 01:03] #30 closed

[2015-10-26 01:07] OsvaldoTCF commented on #21
Well, but this is not an api or a restful framework. Why do that?

[2015-10-26 01:10] OsvaldoTCF commented on #13
Thank you! good luck :+1:

[2015-10-30 20:18] euller88 opened #31 "Multiple Controllers"
Hi, I'm a newbie in Golang, and recently discovered this amazing framework that is utron. From now on, I will use it, because it seems much more comfortable to work with than the others I've seen around. But I want to expose this doubt I have. Is a good practice to write one different controller for each service(url) my application offers?

[2015-10-31 09:57] gernest commented on #31
@euller88  thank you, it is not necessary. As you can see the example it has only one controller but handles a bunch of urls.

[2015-10-31 13:07] euller88 commented on #31
@gernest  thank you for your answer and keep up the excellent work.

[2015-10-31 13:07] #31 closed

[2015-11-05 13:58] vsouza commented on #19
+1

[2015-11-05 15:28] gabrielpugliese-luizalabs commented on #19
+1

[2015-11-05 20:33] euller88 opened #32 "Default 404 and 500 page with utron"
Hi, how can I write a default response from my server to these errors with utron? For example, if someone tries to access myserver.com/not_a_valide_resource, how can I handle it? Thanks in advance for the help

[2015-11-07 15:02] gernest commented on #32
@euller88  Serving 404 or 500 is simple. Just change the status code to the respective value. Take for instance the code snippet from the todo example link [here](https://github.com/gernest/utron/blob/8cb272e7c57acf8deb4cd88463372729bbcc93d3/fixtures/todo/controllers/todo.go#L24).

[code]

If you want to return 404 response, just change the last line to

[code]

if you want to return 500 response

[2015-11-11 03:05] rogeriomarques commented on #19
+1

[2015-11-14 23:21] OsvaldoTCF opened #34 "Can we use sqlite3 ?"
How can i do that in app.json ?

"database": "sqlite3",
"database_conn":  ???

[2015-11-15 05:00] gernest commented on #34
@OsvaldoTCF sqlite is not supported yet.

[2015-11-15 09:40] #34 closed

[2015-11-15 09:43] OsvaldoTCF opened #35 "FoundationDB is closed by Apple, please go with Sqlite3"
FoundationDB is closed by Apple.
Please, support Sqlite3.

[2015-11-15 11:19] OsvaldoTCF opened #36 "A more complex example"
I will create a more complex example and would like help. It would be great if we had more examples.

Who can help ...

https://github.com/OsvaldoTCF/order2go

[2015-11-15 16:27] OsvaldoTCF opened #37 "How can I declare Foreign Key?"
How can I declare foreign key on models ?

[2015-11-15 17:47] OsvaldoTCF commented on #37
I can use this: `sql:"type:bigint REFERENCES Sponsors(id)"` on model's field declaration but if table "sponsors" will be created after actual table, i get this error: (pq: relation "sponsors" does not exist)

Is there any form of manage the tables creation order ?

[2015-11-15 17:51] OsvaldoTCF commented on #37
How can i issue this command:   "db.Model(property).AddForeignKey("product_id", "products", "CASCADE", "RESTRICT") " from may Utron application?

From GORM

"... it is. Here's a real world example:

    db.Model(property).AddForeignKey("product_id", "products", "CASCADE", "RESTRICT")

phoenix_test=# \d properties;
                                    Table "public.properties"
   Column   |

[2015-11-15 18:19] gernest commented on #37
@OsvaldoTCF in the contex there is a `DB` property. You can use it to do all of that. It is a full `*gorm.DB` .  see [here](https://github.com/gernest/utron/blob/386b86de909d8101f9ba8cf61445a1de44ce6250/context.go#L54)

[2015-11-15 18:45] OsvaldoTCF commented on #37
Thankyou

[2015-11-15 18:49] OsvaldoTCF commented on #37
Gernest, what is the best time to run the command to complete the migration? What is the time "after" migration?

[2015-11-15 19:22] gernest commented on #37
@OsvaldoTCF Migrations are one time affair. But you can run them as many times as you like, since It wil only create the tables if they don't exist yet.

I recomment you do that before starting the app. I have been a bit busy lately, but when I get time I will look more into this, there is a lot of stuffs to improve.

[2015-11-16 00:29] OsvaldoTCF commented on #37
Thank you so much for your help!

[2015-11-16 17:13] #32 closed

[2015-11-16 17:18] OsvaldoTCF commented on #37
I open an issue on GORM: Is there any way to force order of creation of the tables?
https://github.com/jinzhu/gorm/issues/725

I need to force the order in which the tables are created to avoid problems with the creation of foreign keys.

[2015-11-17 15:02] gernest opened #38 "Need a logo"
Any ideas for a `utron` logo?

[2015-11-17 15:04] OsvaldoTCF commented on #38
Bsed on Ultron? ;-)

http://www.google.com.br/imgres?imgurl=http://vignette2.wikia.nocookie.net/marvelmovies/images/b/bc/Ultron_Empire_textless.jpg/revision/latest%3Fcb%3D20150126200212&imgrefurl=http://marvel-movies.wikia.com/wiki/Ultron&h=793&w=640&tbnid=HVhF_evEqg8YbM:&tbnh=186&tbnw=150&usg=__TohwugVvX_8vHYb_U3HqmSBNPd4=&docid=lRxxQkip-g9X-M&itg=1&client=ubuntu

[2015-11-17 15:12] gernest commented on #38
@OsvaldoTCF cool. Is the image copyrighted? We need something cool like that.

[2015-11-17 15:20] gernest commented on #36
@OsvaldoTCF  hey I am already going throutgh it. When  I get time I will start hacking on it. But you will need to give me more details on what it is and what it is supposed to do.

Or do you need help in specific area?

[2015-11-19 09:28] OsvaldoTCF commented on #37
From GORM:
"Same order as you pass it to the CreateTable, AutoMigrate"

[2015-11-19 09:32] OsvaldoTCF commented on #38
Well, this is the image of the cinema, so I imagine that has copyright. Perhaps a good idea is to use it as a base.

[2015-11-19 09:34] OsvaldoTCF commented on #36
An example involving more problems. More tables and relationships in the database , more restrictions , etc.
I am creating this example is an ordering system .

[2015-11-19 12:25] euller88 commented on #38
Having Ultron as a reference could butthurt someone, and you really doesn't want to be sued by Disney. How about using a robot gopher to be the concept for the logo?

[2015-11-19 12:32] euller88 opened #39 "HTTPS with Utron"
I've seen that to make a HTTPS server with Go, I have to use the ListenAndServeTls instead of the ListenAndServe. But this is only if make the hard work that I don't want to. Utron already do this work for me, so I can worry with others things. But how can I configure Utron to work with HTTPS? Because a quick look doesn't show the use of it, and I am not comfortable to change your code. Thank you

[2015-11-19 13:15] gernest commented on #38
@euller88 you are right. So bad that I suck at graphics. A robot gopher will be cooler.

[2015-11-19 19:38] euller88 opened #40 "Raw Body"
Sorry for the noobness, but how I get the raw body data for a POST or PUT request? Thank you in advance for the answer

[2015-11-19 23:01] OsvaldoTCF commented on #37
utron.go (239)

[2015-11-19 23:01] #37 closed

[2015-11-19 23:08] OsvaldoTCF commented on #39
utron.go (242)

func Run() {
	Migrate()
	port := baseApp.cfg.Port
	logThis.Info("starting server at ", baseApp.cfg.BaseURL)
	log.Fatal(http.ListenAndServe(fmt.Sprintf(":%d", port), baseApp))
}

[2015-11-19 23:10] OsvaldoTCF commented on #39
We could have something like RunTls to https . A Gin approach.

[2015-11-19 23:25] OsvaldoTCF commented on #39
One approach with middleware . Martini.

https://github.com/martini-contrib/secure
martini-secure
==========================
import (
  "github.com/go-martini/martini"
  "github.com/martini-contrib/secure"
)

func main() {
  m := martini.Classic()

  martini.Env = martini.Prod  // You have to set the environment to `production` for all of secure to work properly!

  m.Use(secure.Secure(secure.Opti

[2015-11-20 07:43] gernest commented on #40
@euller88 what do you mean by raw body?

[2015-11-20 12:00] euller88 commented on #40
I think I'm not expressing myself very well. When I try to use utron.BaseController.Ctx.Request().Body(), I've got an empty byte slice from an POST request with content, and this shouldn't happen. So I'm asking what is the right way of doing it, in order to see what I'm doing wrong. Here a sample of what I'm doing:
[code]

[2015-11-20 13:49] gernest commented on #40
@euller88  `request.Body` is an `io.Reader` so don't read it like that. You can use `ioutil.ReadAll` instead.

[2015-11-20 14:03] euller88 commented on #40
Thanks, it was a great help to me.

[2015-11-20 14:03] #40 closed

[2015-11-20 14:05] OsvaldoTCF commented on #40
http://jmoiron.net/blog/crossing-streams-a-love-letter-to-ioreader/

[2015-12-01 20:36] euller88 commented on #39
I've come with this solution
[code]
I placed this in utron.go, and now I don't have any problem with https. Also, cert.pem and key.pem were generated with openssl and placed in the executable folder

[2015-12-01 20:36] #39 closed

[2015-12-02 07:24] gernest commented on #39
@euller88 cool!

[2015-12-04 09:48] gernest commented on #38
@euller88 do you use gitter? We can discuss more about utron there https://gitter.im/gernest/utron

[2015-12-11 20:30] euller88 opened #41 "List for new features wished to be implemented"
Hi @gernest, here is little list of things that I think that should be useful to utron and some suggestions of how to do some of them.

First, is the reiteration of something that @OsvaldoTCF required, that is the support for SQLite. I don't know how to implement this one, but the reason behind is something that he said to me, so in this one, I'm following what he said. Everyone knows that SQLite

[2015-12-29 17:10] Mason8r commented on #19
+1

[2016-01-06 02:37] eiffelqiu opened #43 "html/template: "index" is undefined Error"
I clone the todo webapp sample code and replace postgres  to  mysql ,  i made the same directory structure and filename, when i run the web app,  the database output the correct result, but it reports that it could not find the index.html template , app.yml  is also correct ,  when i change view_dir  to other name(not 'views') , the app will stop running,  so i do not know where i got wrong?

any

[2016-01-06 03:09] eiffelqiu commented on #43
I solved the bug,  it turns out  "utron" has a bug in view.go

int view.go line 83

[code]

this line only consider the *nix system, when i run it on windows

the final name is equal to '/index' , which results the "index" template not found error.

hope fix this bug.

[2016-01-06 07:49] gernest commented on #43
@eiffelqiu thanks for pointing this out, I will check it out.

[2016-01-27 04:30] kojustin opened #44 "Content-Type is never set."
In https://github.com/gernest/utron/blob/master/controller.go in the functions HTML(), String(), and JSON() `b.Ctx.Set(code)` is called before `b.Ctx.JSON()`. Since Set() ends up calliing ResponseWriter.WriterHeader, the call to b.Ctx.JSON() will end up being ignored.

The documentation for [ResponseWriter](https://golang.org/pkg/net/http/#ResponseWriter) says

[code]

[2016-01-27 06:31] #44 closed

[2016-01-27 23:30] kojustin opened #45 "Empty environment variables are ignored"
In some environments I want to use the environment variables to override the default values that are set in a config file. For example, in a test environment I may want to use an empty db user (e.g. pass `DB_USER=""` to a particular command) .

Right now, [config.go](https://github.com/gernest/utron/blob/master/config.go#L127) cannot distinguish between a zero-length environment variable and a env

[2016-01-28 07:12] gernest commented on #45
@kojustin you can overide the environment variables that are defined in the utron configuration object so if you want to set other arbitrary variables you can easily get them for yourself using `os.GetEnv`

For your example, there is no `DB_USER` in utron configuration object, so you can easily access it somewhere in your code like this

``go
dbUser:=os.GetEnv("DB_USER")
``
and whatever value you

[2016-01-28 07:41] kojustin commented on #45
What if I want to indicate that there is no database password?

[2016-01-28 08:05] gernest commented on #45
@kojustin then then enviroonment variable `DATABASE_CONN` is what you are looking for.

[2016-01-28 08:20] gernest commented on #45
@kojustin  see here https://github.com/gernest/utron#configurations for more details.

Please let me know if this is helpful.

[2016-02-03 18:18] kojustin commented on #45
ok

[2016-02-03 18:18] #45 closed

[2016-02-04 17:15] #19 closed

[2016-02-14 09:43] gernest commented on #35
@OsvaldoTCF utron supports sqlite too.

[2016-02-16 12:19] euller88 opened #46 "Disabling Automigration"
Is there a way to disable the automigration of the tables trough some method that utron provides, or I have to do it by changing the source?

[2016-03-17 19:04] gernest commented on #46
@euller88 just implemented this, now there is an additional settings in configuration file. You just need to set automigrate to false to disable automigration.

The good news is, you can then automigrate manually anywhere in your application by calling `utron.Migrate()`

This is how the configuration file looks like right now
[code]

[2016-03-17 19:12] gernest commented on #43
Unfortunate I don't have a window machine. Although I believe the current implementation should just work fine.

I am closing this for now

[2016-03-17 19:12] #43 closed

[2016-03-17 19:17] gernest commented on #36
@OsvaldoTCF how is the app going? Would you like it to be added in like examples section in README? If you are still maintaining it let me know.

[2016-03-17 19:17] #21 closed

[2016-03-17 19:18] #46 closed

[2016-03-17 23:47] betoharres commented on #21
It's just a suggestion :) that's ok

[2016-03-18 02:43] gernest commented on #21
@betoharres I forgot to say that the link you referenced is not framework level implementation detal but application level. You can build a RESTFUL API with utron.

[2016-03-18 14:02] jcmartins opened #47 "utron chat room"
hi,
utron have a gitter or slack (gophers.slack.com) chat room?

tks
Joao

[2016-03-18 14:30] gernest commented on #47
@jcmartins There is  a gitters chat room https://gitter.im/gernest/utron but I am almost alone there, feel free to hang there and will be happy to help

[2016-04-26 16:40] Slacki opened #48 "Panic when running todo (or other) application"
Followed the README and installed the `utron`. Then fired up `todo` app and got this error:
[code]

This is the todo app config
[code]

I am using `MySQL 5.6.24` and `Go1.5.2` both running on `Microsoft Windows [Version 10.0.10586]` 64-bit machine.

[2016-04-26 16:45] gernest commented on #48
I'm on this.

[2016-04-26 17:35] Slacki commented on #48
Used bad DNS syntax for "database_conn".

[2016-04-26 17:35] #48 closed

[2016-05-02 20:27] Slacki opened #50 "Middlewares not chained properly when using func(*Context)error"
# Lets start with working example

There are three middleware functions of type `func(http.Handler)http.Handler` defined as follows:
[code]

The middlewares are then passed to `utron.RegisterController`
[code]

The output of this piece of code is correct, that is
![image](https://cloud.githubusercontent.com/assets/3284061/14966607/a1aa4d6a-10b3-11e6-9090-5fe971c5344d.png)

# Now exactly the same s

[2016-05-02 21:35] gernest commented on #50
@Slacki Thanks for reporting. I will check this later.

[2016-05-05 19:56] Slacki opened #51 "Make some variables, objects and data global and rethink models."
# I am missing access to some data and objects when writing an application with utron.

I would like to provide these three examples, so you can understand what I mean. I will try to show how inaccessible database and configuration, in places other than controller action, affect the code transparency and make **M**odel less important than it should be.

## Example 1

Let's say there is some go rou

[2016-05-06 07:32] gernest commented on #35
Just merged support for sqlite3 see #52

[2016-05-06 07:32] #35 closed

[2016-05-06 11:58] gernest commented on #47
Closing this, as It seems resolved.

[2016-05-06 11:58] #47 closed

[2016-05-07 14:24] #50 closed

[2016-05-08 12:06] Slacki opened #53 "Rename tag 1.0 to v1.0 in order to use gopkg.in"
As the title says, it would be nice to let users use stable release with `go get` and the easiest way is to use [gopkg.in](http://labix.org/gopkg.in).

With the current tag name `1.0` the service is unable to access 1.0 release.

[code]

[2016-05-08 12:16] gernest commented on #53
@Slacki thanks, doing that right now

[2016-05-08 12:18] gernest commented on #53
@Slacki can you try again? I just fchanged it to v1.0

[2016-05-08 12:24] Slacki commented on #53
It works now. I am gonna make a PR later with changes to README and wiki to let users know about this.

[2016-05-08 12:28] gernest commented on #53
thanks, I am closing this issue for now.

[2016-05-08 12:28] #53 closed

[2016-05-08 17:19] Slacki commented on #36
@OsvaldoTCF I've put your example in this repo wiki. Hope you don't mind.

[2016-05-08 17:20] Slacki commented on #36
@gernest I think this issue can be closed now.

[2016-05-08 17:55] gernest commented on #36
@Slacki thanks. I am closing it now.

[2016-05-08 17:55] #36 closed

[2016-05-11 19:40] euller88 commented on #36
@gernest @Slacki Currently, the Order2Go project will be refactored and updated in order to make it a more suitable example for Utron, this may not be soon, but the team asks to not put some unfinished work as reference.

[2016-05-11 19:46] Slacki commented on #36
@euller88 Okay, I am removing the refference in Wiki now.

[2016-05-15 15:44] ergoz opened #56 "utron not creates tables in db"
I try to start example todo, and it says (line with table error shows only after i tries to open any page):

[code]

as i understand it not uses migrations... i dont know why.
my config:
[code]

what is wrong?

Sorry for bad English

[2016-05-15 15:50] ergoz commented on #56
My fault, no any info about config param: `"automigrate":true` in `app.json`

[2016-05-15 15:50] #56 closed

[2016-05-15 16:55] gernest commented on #56
👍

[2016-05-20 00:36] wolfgangmeyers opened #57 "Questions about controller lifecycle"
I'm curious how the controller lifecycle works. Does a new instance of controller get created on every request? If not, how is the t.Ctx field made threadsafe between different concurrent requests?

[2016-05-20 18:00] ergoz opened #58 "Sub categories problems"
Thanks for this framework.
I am new in Go, and I tries to make multi level blog categories, for example:
-dev
-- php
-- mysql
and i want to catch this url `site.com/dev/php/somepost.html`
but i cant setup routes to catch `dev/php` in **category** variable and `somepost.html` in **id** variable.

and file `routes.json` not loads, because rules in this file not works

How to fix it? I have no idea :

[2016-05-20 19:40] ergoz commented on #58
Sorry, it were my fault :) All ok :+1:

[2016-05-20 19:40] #58 closed

[2016-05-20 20:18] ergoz commented on #32
But what about situation when we have not controller for url and utron shows error message without template? What is correct way to handle this situation?

[2016-05-31 03:02] bishen opened #59 "How add a function to template ?"
How add a function to template ?

[2016-05-31 03:37] bishen commented on #59
How Using Custom Functions in Template?

[2016-05-31 06:39] gernest commented on #59
@bishen the default view that comes with utron doesn't support  custom template functions yet.

[2016-05-31 20:22] euller88 opened #60 "Use of sessions"
There was I, just browsing some code at Github, when I decided to read Utron's wiki. Then I stumbled upon the middlewares' page, and a doubt was spawned in my head: how the heck I would use this?Do I just have to follow the Gorilla tutorial, or make use of some gimmick to achieve that?

[2016-06-01 05:44] gernest commented on #60
Do you have any suggestions on what should be a good way?

[2016-06-01 13:25] euller88 commented on #60
That's my problem, I'm ashamed to say that I am totally clueless about it. It just amazes me by how long it took for me to realize this.

[2016-06-01 13:58] gernest commented on #60
@euller88 great to hear you are on http support. No need to rush, one thing at a time. Thanks.

[2016-06-01 15:53] Slacki commented on #60
@euller88 Well, that is my approach. I am newbie to utron and golang itself, so it may be totally wrong and maybe I made a fool of myself. The point was to just do something with session wherever I need sessions (i register this middleware in the controllers I am using sessions in).

[2016-06-01 18:52] euller88 commented on #60
Well, since utron uses a singleton(cough, cough, baseApp) to handle the whole thing, I think that a general session manager should work, then each controller should create or end one session, and modify it. This is the first idea I had after stopping to think a little

[2016-06-02 16:22] wolfgangmeyers commented on #57
@gernest ?

[2016-06-02 16:34] wolfgangmeyers commented on #57
Also if this is something that needs to be changed, I'd be happy to help.

[2016-06-03 00:53] OsvaldoTCF commented on #60
perhaps
http://www.alexedwards.net/blog/making-and-using-middleware

[2016-06-03 06:41] gernest commented on #57
@wolfgangmeyers sorry for the late reply. There is a lot of work needed for utron, and maybe a rewrite on some on the components.

I would really love to see someone look into this. If you don't mind we can discuss this, and see what we can do about it. I really need help here, I mean someone who will see things in a different perspective.

[2016-07-25 12:13] paramah commented on #13
@gernest nice project, good luck man !

[2016-07-25 13:16] paramah commented on #38
Ok guys :) maybe something like that ?

![ultron](https://cloud.githubusercontent.com/assets/17670/17102608/b747b514-527a-11e6-855c-8df5fc71fa4e.png)

[2016-07-25 13:33] paramah commented on #38
gr8

in zip you have ai,svg and png version. Enjoy :)

[ultron_logo.zip](https://github.com/gernest/utron/files/381595/ultron_logo.zip)
;)

[2016-07-25 13:36] paramah commented on #38
ok, i back to my webapp powered by ultron :) thx for gr8 frame ;>

[2016-07-25 13:37] gernest commented on #38
@paramah minor detail, what is the purpose of the red line on the gopher fore head. I think it doesnt mix well with gopher

[2016-07-25 13:40] gernest commented on #38
If the redline is gone, the gopher looks even more bad ass than utron. :)

[2016-07-25 13:41] gernest commented on #38
@paramah Thank you.

[2016-07-25 13:42] paramah commented on #38
@gernest hmmm, right. Give me some time i will make some little changes with colors and shapes.

[2016-07-25 13:45] gernest commented on #38
Okay, I will just add this for now to see how it looks like. Later you can just update the image and submit a PR for easy contributing.

[2016-07-25 15:36] gernest commented on #38
see #63

[2016-07-25 15:36] #38 closed

[2016-09-12 16:58] PatWie opened #64 "Split databaseconnection string into multiple environment variables"
To use this very nice framwork, I tried to setup docker-compose. RubyOnRails and co use a much easier way to connect to databases, namely environment variables shipped by postgresl:latest container.

I setup you example inside the docker environment:
https://github.com/PatWie/ultron-webapp-container

However, your library refuses the connection. A dump of available variables are:

[code]

These sh

[2016-09-12 17:33] gernest commented on #64
@PatWie It seems the environment needed by Utron are not provided. You can properly set them in your docker compose file if possible

`DATABASE` states the name of the database i.e `postgres` for  postgresql database `mysql` for mysal database.

`DATABASE_CONN` is a full connection url to the database.

Thanks for bringing this to my attention though. Having something like `UTRON_DATABASE` makes m

[2016-09-12 17:34] gernest commented on #64
Another thing, can yopu show me `docker-compose.yml` file? Maybe I can help.

[2016-09-12 17:35] PatWie commented on #64
Jus have a look at the repositoy to reproduce everything:
https://github.com/PatWie/ultron-webapp-container

Btw: It would be nice if you support an official example ;-)

[2016-09-12 17:39] gernest commented on #64
Okay, I'm going to check it out and then go back to you.

Is there any one in particular that you would like to see me support?

[2016-09-12 17:46] PatWie commented on #64
I just want to build boiler template for:
- golang ultron
- postgresql with gorm
- redis

That all ;-) I am right now on gitter.

[2016-09-12 17:48] gernest commented on #64
@PatWie Okay, can you ping me on gitter?

[2016-09-12 18:53] PatWie commented on #64
A small update:
I added another container "debug" for https://github.com/PatWie/ultron-webapp-container
which basically allows to easily open a bash with all environment variables.

Having all environment variables in place "psql" should be sufficient to fire up the postgres-console. And in golang something like

[code]

should directly work.

This might be also relevant
http://fabioberger.com/pos

[2016-09-13 19:54] gernest commented on #64
@PatWie I fixed the issue and I created a todo list app( from the example) that is can be deployed using docker compose.

It was fun hooking up the example. I will wait for your feedback before I close this.

Here is the app https://github.com/gernest/utron-todo

PS: Any help cleaning up the todo app( from the link above) and adding more details on the README will be highly appreciated.

[2016-09-14 17:15] #64 closed

[2016-10-11 08:17] patdhlk opened #65 "support hashicorp configuration language HCL"
we use HCL as our primary configuration language and now want to use utron for a small internal project...but hcl config files are not supported

[2016-10-11 08:39] #65 closed

[2016-10-11 08:53] #4 closed

[2016-10-11 08:54] #60 closed

[2016-10-11 08:55] #29 closed

[2016-10-25 09:00] co11ter opened #67 "Highload bug"
Hi!

I write the code:

[code]

send many concurent requests to /test:

`siege -f urls.txt -c 10 -t30s -i`

and have error:

[code]

Two parallel routines get the same context. Maybe action signature should be

`func (c *SomeController) Action(ctx *utron.Context) {}`

instead to save the context into the controller??

[2016-10-25 11:09] gernest commented on #67
@co11ter Thanks for pointing this out.

I indeed the design had some issues. I'm open to suggestion, I will have to rewrite the implementation and possible change the API if possible.

Any input is welcome. You can help if you don't mind.

[2016-10-25 11:12] gernest commented on #67
Someone also pointed this out #57

[2016-10-25 11:40] gernest commented on #67
Problems seems to arise here https://github.com/gernest/utron/blob/master/routes.go#L313-L352

I think I might have ideas on how to fix this without changing of the API

[2016-10-25 11:51] co11ter commented on #67
I fix it for me like [](https://github.com/co11ter/utron/blob/master/routes.go#L382-L398), but I don't think that it's "true way".  Maybe we have to create new controller per request?

[2016-10-25 14:59] co11ter commented on #67
Another fix [https://github.com/co11ter/utron/commit/fb99f6f61fc79d29240433a96e6622acaed84915](https://github.com/co11ter/utron/commit/fb99f6f61fc79d29240433a96e6622acaed84915)
but it change API:

[code]

I can send pull request if you want.

[2016-10-25 15:49] gernest commented on #67
@co11ter cool. Did you test the first one?

I don't think changing the API will be wise for now! Please send the PR, then we can maybe discuss there if any changes need to be made!

[2016-10-25 15:52] gernest commented on #67
I cant spopt the difference , please Open the PR so I can check the diff!

[2016-10-25 16:03] gernest commented on #67
I think, for now the best way will be to create a new Controller on each request.

[2016-10-25 17:54] #67 closed

[2016-10-25 18:39] gernest commented on #67
@co11ter please try to tun the example again to see if this bug is gone for good

[2016-10-27 08:33] co11ter commented on #67
yes, it fixed!

[2016-10-27 09:04] gernest commented on #67
@co11ter awesome. Thanks.

[2016-10-27 09:07] gernest commented on #57
@wolfgangmeyers I just revisited this after #67 . So now a new controller is created on every request to avoid the race conditions.

[2016-10-27 09:30] #59 closed

[2016-10-27 09:31] #57 closed

[2016-10-27 09:31] #51 closed

[2016-10-27 09:32] #41 closed

[2016-10-31 12:07] kirillDanshin commented on #13
@klaemo is this an issue? :smile:

[2016-11-03 14:10] ychencode commented on #13
perfect

[2016-11-11 10:15] llitfkitfk commented on #13
👍

[2016-11-16 16:43] gernest opened #70 "todo list application"
Add a sample todo list application with the new API

[2016-11-16 16:44] gernest opened #71 "booking application"
Add a sample booking application with new API

[2016-11-16 16:45] gernest opened #72 "chat application"
Create a chat application with the new API

[2016-11-16 16:45] gernest opened #73 "file upload application"
Create a sample file upload application

[2016-11-16 16:46] gernest opened #74 "More benchmarks"
Utron is missing  benchmarks

[2016-11-16 16:49] gernest opened #75 "Modularize the framework"
The project structure makes it difficult to compose.

This is as per suggestions [from this reddit comment](https://www.reddit.com/r/golang/comments/5b2j38/what_is_idiomatic_go/d9la57e/)

[2016-11-20 08:49] #70 closed

[2016-11-20 09:15] #75 closed

[2016-11-21 16:11] #73 closed

[2016-12-04 09:54] #72 closed

[2017-01-11 08:30] riclava opened #79 "There exists a bug in view/view_test.go"
[code]

[2017-01-11 08:37] gernest commented on #79
@riclava sorry I had to format the snippet to see clearly!

Can you explain to me more?

[2017-01-11 08:38] gernest commented on #79
Oh! Thanks , I just spotted the issue! It was supposed to be `verr`! My bad lol!

[2017-01-11 08:41] #79 closed

[2017-04-17 10:49] lchhieu opened #81 "cannot find package "github.com/gernest/utron/app""
I use win 10 x64, and get error
[code]

[2017-04-17 12:33] gernest commented on #81
@lchhieu  try to reinstall utron like this

` go get -v -u github.com/gernest/utron/...`

I don't know why you are seeing such an error but that command should help!

[2017-04-17 12:35] gernest commented on #81
Just a reminder sample applications can be found here https://github.com/utronframework

[2017-04-17 13:44] lchhieu commented on #81
@gernest i had try again and success

[2017-04-17 15:55] gernest commented on #81
Cool! I'm closing this issue then. You can reopen if it still persists.

[2017-04-17 15:55] #81 closed

[2017-04-20 12:49] nicola-spb opened #82 "Session store"
I`m start learning golang. I want to change sessionStore to redis and I found this code. Is it right? May be should be "return ctx.SessionStore.Get" ?

[code]

[2017-04-20 14:32] nicola-spb commented on #82
Is this parameter SessionSecure (in config) used in somewhere?

[2017-04-20 19:25] gernest commented on #82
@nicola-spb That code is okay, but regarding redis session, you can just override `App.SessionStore` with the redis session implementation

Yes , it is passed to gorilla.Session.Options check here https://github.com/gernest/utron/blob/1f157f3b25f8ea71b1705f0d699cd1cffde65779/app/app.go#L153

[2017-04-21 10:53] nicola-spb commented on #82
Sorry I made mistake. I wanted to say about cfg.SessionStore in config.
P.S. Now I replaced method getSesionStore for using Redis session

[2017-04-21 11:16] gernest commented on #82
P.S. Now I replaced method getSesionStore for using Redis session

@nicola-spb  what do you mean? Can I see your code if possible? `getSesionStore` looks like a private function so replacing it from where?

[2017-04-21 11:26] nicola-spb commented on #82
I forked it for myself. I want to replace gorm to sqlx too and maybe replace html/template.

[code]

[2017-04-21 11:36] gernest commented on #82
I see, that looks okay to me.

[2017-04-21 11:50] nicola-spb commented on #82
Maybe you should make it more flexible. I saw some frameworks but I think they so big and I prefer your.

[2017-04-21 11:56] gernest commented on #82
@nicola-spb thanks. It is already flexible. You can replace `view` i.e `html/template` and it is possible to replace gorm too( albeit with some effort)

There is a lot of areas for improvement. You can help by opening issues for feature request, so we can make utron  more awesome.

[2017-04-21 11:57] nicola-spb commented on #82
Ok. Thank you.

[2017-04-21 11:57] #82 closed

[2017-04-21 12:01] gernest commented on #82
@nicola-spb

Check this example app https://github.com/utronframework/upload  It does not use gorm at all. You can also poke around it to implement custom `view` that doesnt use the one shipped.

Honestly you don't need to modify utron source to use different ORM or template rendering logic.

[2017-04-21 12:15] nicola-spb commented on #82
Ok. I started learning golang (after java, php) and I don`t get used to interface.

[2017-05-07 13:34] nicola-spb opened #86 "Secure config"
In **context.go** you send config to view (by default). Users can save passwords and tokens in config file. I think it`s not secure. If user will want to have config in view then he put it himself.

[code]
What do you think?

[2017-05-07 18:47] gernest commented on #86
@nicola-spb I think you are right. That is not necessary, the user should be responsible for adding data to be rendered by the templates.

__OFFTOPIC__: Do you mind if I add you to be a maintainer?

We will still use PR based workflow, and ensure that every PR is reviewed before merging.

[2017-05-07 21:58] nicola-spb commented on #86
ok.

[2017-05-07 22:03] gernest commented on #86
@nicola-spb nice, just added you. you should receive an invite any moment. Looking forward to making utron awesome with you

[2017-05-08 07:14] nicola-spb commented on #86
Ok :-) will try.

[2017-05-10 12:21] nicola-spb commented on #86
fixed.

[2017-05-10 12:21] #86 closed

[2017-05-10 13:00] gernest commented on #86
@nicola-spb where?

[2017-05-10 13:05] gernest commented on #86
@nicola-spb I'm sorry, but I don't think it is a good idea to make changes directly to the master branch without someone to review it.

I suggest we use a PR based approach to run this project.

These are minor changes so I'm okay with this. But please next time Open a PR, wait until at least one maintainer reviews it( It should not be the one submitting the PR) then when he/she approves you can m

[2017-05-10 13:12] nicola-spb commented on #86
Yes. Sorry.
I send mail for you to @live.com

[2017-05-10 13:20] gernest commented on #86
@nicola-spb no problem. I just saw the email a few mins ago.

We are on a good start.

[2017-05-10 13:55] nicola-spb opened #87 "Mapping in controllers"
All public methods in controllers are mapped to url path by default.

Maybe will be better if only methods with suffix or prefix "Action" will mapped by default. Some people can`t knew that their methods open for public.

Example:
[code]

if user want to set path manual then he can set
[code]
Or maybe add some flexible settings for do it.

default parsing here https://github.com/gernest/utron/blob

[2017-05-10 14:03] gernest commented on #87
Do you think automatic mapping is useful at all?. I think we should remove it altogether, it is a good idea to enforce best practices as much as possible.

Do you have any usecase where this automatic mapping makes sense?

[2017-05-10 14:36] nicola-spb commented on #87
For me no. But some people can use it. In some frameworks in Java (with annotation) and php I saw it.

Usually I use manual mapping config. For myself I added Action prefix for showing routed methods and replace default mapping to panic message:
`log.Panic("Action \"" + v.fn + "\" doesn't configurated! Please configure it in controller or routers.json")`
And if I have action without config then I

[2017-08-08 17:38] ross-albertson opened #88 "go get errors"
# github.com/cznic/zappy
exec: "gcc": executable file not found in %PATH%
# github.com/mattn/go-sqlite3
exec: "gcc": executable file not found in %PATH%

[2017-08-09 09:44] nicola-spb commented on #88
Sorry, is it utron's error? When you get this error?
P.S. https://stackoverflow.com/questions/43580131/exec-gcc-executable-file-not-found-in-path-when-trying-go-build

[2017-10-10 09:49] nicola-spb commented on #88
I close it. You can reopen issue if you think that it`s error of utron.

[2017-10-10 09:49] #88 closed

[2018-01-01 18:28] santi0037 opened #91 "Use Utron like Api-JSON"
Hello friends, happy new year! I'm totally new with golang and I'm trying to turn utron in an Api-JSON.
Reading the code i found that "data will only be used when Template is not specified and there is no View set. You can use this for creating APIs (which does not depend on views like JSON APIs)"

My cuestion is, what are the next steps should i follow?

[2018-01-03 12:01] nicola-spb commented on #91
Hi guy, happy new year!

1) You should create controller.
2) Add method for your url
3) Use this method for return JSON
`c.RenderJSON(<object or map>, http.StatusOK)`

Maybe a don`t understand your question. Can you give me example?

[2018-01-03 17:02] santi0037 commented on #91
Thanks you! My mistake was to put a `ctx` before `RenderJSON`
`t.Ctx.RenderJSON(peoples, http.StatusOK)`
and now is working perfectly!!!

[2018-01-03 17:34] nicola-spb commented on #91
You are welcome.
Good!

[2018-01-03 17:34] #91 closed

[2018-08-07 17:49] isocroft opened #97 "Consider putting Ultron on OpenCollectives"
This is a **wonderful project** that has grown in leaps and bounds over time (as i have watched it for some time) and the fact that it was started by a Tanzanian is super awesome! I would suggest that a collective be opened [here](https://opencollective.com) to enable it raise money to make more contributors give more time to work on the project and turn out releases faster the development of **ul

[2018-08-26 23:17] santi0037 opened #99 "Still working on go 1.11?"

[2018-10-19 10:41] tomocy opened #102 "Does (*context.Context) GetSession return new session intentionally?"
I found the code below in session.go and
I wonder this because gorilla/sessions has a method
(Store) Get to retrieve a session with a given name.
[code]

[2018-11-08 06:46] proaholic commented on #99
yes, It works

[2018-11-08 11:59] nicola-spb commented on #99
yes

[2018-11-08 11:59] #99 closed

[2019-08-01 13:19] luisbrandao opened #105 "multiple controllers"
Hey,

Just starting with go and trying to use uton because its look like a little familiar with the little i know.
I am using the todo application to start out but i cant discover hot to add more controllers.

I moved the original todo to a /todo url and tried to make a new controller/model for /myapp.
The second controller got a bunch of duplicated declaration errors and no route in the second co

[2020-01-04 23:57] frederikhors opened #106 "Is this project dead?"
Is this project dead?

[2020-01-05 12:36] nicola-spb commented on #105
Please write errors or it should be closed.

[2020-01-05 12:37] nicola-spb commented on #106
:-) No. If you have error or find bug we will fix it.

[2020-01-05 12:38] #106 closed, assigned to nobody

[2020-04-19 12:57] #105 closed, assigned to nobody